/*--------------@uth0r ps48--------------*/
html,body
{
  margin: auto;
  padding: 0;
}

@font-face {
    font-family: rb;
    src: url(Roboto-Black.ttf);
}

@font-face {
    font-family: rl;
    src: url(Roboto-Light.ttf);
}

@media only screen and (max-width: 1020px) {
  .rsize{
    height: 100px;
    width: auto;
  }
    
}

h1
{
  font-size:65px;
}

a
{
  cursor:pointer;
}

.rb
{
  font-family:rb;
}

.rl
{
  font-family:rl;
}

.lblue
{
  color:#00ffe4;
}

.wh
{
  color:#fff;
}

.headcnt
{
  margin-left:5%;
  margin-right:5%;
}

.bf
{
  font-size:25px;
}

.spacer
{
  margin-top:40px;
}

.smspacer
{
  margin-top:20px;
}

.center
{
  text-align:center;
}

.ring
{
  border: solid 5px;
  border-radius: 25px;
  border-color:#00ffe4;
}

.cimg
{
  height:200px;
  width:200px;
  box-shadow: 2px 2px 10px #000;
}

.scrollToTop
{
  width:50px;
  height:65px;
  text-align:center;
  background: whiteSmoke;
  font-weight: bold;
  color: #00ffe4;
  text-decoration: none;
  position:fixed;
  bottom:5px;
  right:20px;
  display:none;
  background: url('../images/arrow_up.png') no-repeat 0px 20px;
  z-index:20;
}

.scrollToTop:hover
{
  text-decoration:none;
}

.btnclk
{
  margin:10px;

}

.con
{
  font-size:20px;
}

/*----------------------------------------------------------------------------------------------------*/
/*---------------------------------------Bootstrap override-------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

hr
{
  width:75%;
}

.jumbotron,.navbar,.navbar-inverse
{
  background: transparent;
  border: 0px;
}

.navbar,.icons
{
  margin-right:10%;
  margin-left:10%;
}

.navbar .navbar-nav > li >a
{
    color: #FFF;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color:#00ffe4 ;
    border:transparent;
}
.navbar .navbar-nav > .active  {
    color: #FFF;

}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #FFF;
    border:transparent;

}

.navbar .navbar-nav > .open > a .caret,
.navbar .navbar-nav > .open > a:hover .caret,
.navbar .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
.navbar .navbar-toggle {
    border-color: #FFF;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #00ffe4;
    border:transparent;
}

/*----------------------------Divs----------------------------------------------------------------------------------*/

#home
{

  background-image: url("back.jpg");
  background-size:cover;
  z-index:100;
  box-shadow: 0px 7px 25px #000;
  position:relatve;

}

#div2
{
  background-image:url("../images/msbg.jpg");
  background-size:cover;
  z-index:100;
  box-shadow: 0px 7px 25px #000;


}


#div3
{
  background-image:url("../images/db.jpg");
  background-size:cover;
  z-index:50;
  box-shadow: 0px 7px 25px #000;
  position:relatve;
}

#dbcon
{
  border: solid 5px;
  border-color: #FFF;
  border-radius:10px;
  height:40%;
  overflow-y:visible;
}

#div4
{
  background:#535353;
  z-index:-4;
  box-shadow: 0px 10px 25px #000;
  position:relatve;
}

#div5
{
  background:#4a8ddf;
  z-index:-5;
  position:relatve;
}
