

/* Customize container */
@media (min-width: 1024px) {
    .container {
        max-width: 900px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}

.controls {
    padding: 30px 0 15px;
    text-align: center;
}

.controls .btn {
    margin-bottom: 15px;
}

@media screen and (min-width: 990px) {
    .controls .mark-controls {
        display: inline;
    }
}

.lead {
    text-align: center;
    padding: 20px;
}

#waveform {
    position: relative;

}

#progress-bar {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -10px;
    left: 5%;
    width: 90%;
}

#drop {
    border: 3px dashed #FFF;
    padding: 30px;
    font-family:rb;
}

#drop.wavesurfer-dragover {
    border-color: #333;
}
